/*Import font */
@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
/************************************/

.active {
    background-color: #606060;
    color: white;   
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

  /* Designing for scroll-bar */
  ::-webkit-scrollbar {
    width: 8px;
    padding: 0 5px!important;
    margin-right: 5px!important;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 5px;
    padding: 0 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-principal  {
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none ;
    width: 300px;
}

.btn-principal:hover  { 
    background-color: white;
    color: #333333;
}

.btn-principal.inverse  {
    background-color: white;
    border: 2px solid #333333;
    color: #333333;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none ;
    width: 300px;
}

.btn-principal.inverse:hover  { 
    background-color: #333333;
    color: white;
}

/* Path: views/livewire/admin/filter-profil */

.dropdown-toggle.btn-secondary.disablebg {
    background: none;
    border: none;
}

.dropdown-toggle.btn-secondary.disablebg::after {
    display: none;
}

.custom-table {
    background-color: #F0F0F0;
    color: #333333; 
}

.custom-table th, .custom-table td {
    border: none;
}

.card {
    border-radius: 0;
}


/****************************/

/* Path: views/admin/users/create */

.light-grey-background {
    background-color: #f2f2f2; 
    border-radius: 8px;
    border: 0px;
}

.btn-custom-grey {
    background-color: #808080; /* ou la couleur que vous voulez */
    color: #ffffff; /* couleur du texte sur le bouton */
} 

.select {
    border-radius: 8px !important;
    padding-right: 5px;
    border-right: none !important;
}
.input-group-text {
    background: none !important;
    border-radius: 0 0.25rem 0.25rem 0 !important;
    border-left: none !important;
}

.radio-input {
    background-color: white;
    border: 2px solid #333333;
}

.radio-input:checked {
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 5px;
    min-width: 200px;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
  }

  .dropdown-content .dropdown-panel {
    padding: 2px 2px;
  }
  
  .dropdown .dropdown-content {
    display: block;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover {
    background-color: #3e8e41;
  }



  

/************************************/

/* Path: views/card/list */


.card-body .nav-tabs .nav-link {
    color : #333333;
    text-transform: uppercase;
  
}

.card-body .nav-tabs .nav-link.active {
    border: 0px;
    padding: 8px 16px;
    border-bottom: 2px solid #333333;
    border-radius: 0px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}


/************************************/

/* Path: views/card/form */

.form-select.select-icon:after {
    content: '\33';
    font-family: 'ElegantIcons';
    font-size: 18px;
    position: absolute;
}

/************************************/

/****** Reponsive ******/

@media (max-width: 750px) {
    .modal-content {
        width: 100%;
    }
}

/* Styles for screens smaller than 1000px */
@media (max-width: 999px) {
    /* Hide sidebar and show burger menu */
    #sidebar-wrapper {
        display: none;
        position: absolute;
        top: 0;
        z-index: 10;
        background-color: #333333;
    }
    .burger-menu {
        display: block;
    }
    .reduce-mobile {
        width: 75%;
        margin-top: 0px!important;
    }
    .disable-padding-mobile {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .disable-margin-mobile {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .response-mobile {
        width: 100%!important;
    }
    .my-reduce-mobile {
        margin-top: 30px!important;
        margin-bottom: 30px!important;
    }
    .mobile-w-15 {
        width: 15%!important;
    }
    .mobile-d-block {
        display: block!important;
    }
    .w-100-mobile {
        width: 100%!important;
    }
    .mb-2-mobile {
        margin-bottom: 2rem!important;
    }
    .mb-1-mobile {
        margin-bottom: 1rem!important;
    }
}

/* Styles for screens larger than or equal to 1000px */
@media (min-width: 1000px) {
    /* Show sidebar and hide burger menu */
    #sidebar-wrapper {
        display: block;
    }
    .disable-desktop {
        display: none;
    }
    .burger-menu {
        display: none!important;
    }
}

/* nav-icon-5 */
.nav-icon-5{
    z-index: 1000;
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span{
    background-color:#333333;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }
  .nav-icon-5.open span {
    background-color:white;
  }

  .custom-option {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.custom-option.selected {
    background-color: #007bff;
    color: #fff;
}

.btn-custom-border-grey {
    background-color: white;
    border: 2px solid #333333;
    border-radius: 12px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
}

.btn-custom-border-grey:after { 
    font-family: 'ElegantIcons';
    content: "\45";
    position: relative;
    right: 0;
    margin-left: 10px
}

.btn-return {
    background-color: #333333;
    border: 2px solid #333333;
    border-radius: 60px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    padding: 0px 5px;
}

.btn-return:after {
    font-family: 'ElegantIcons';
    content: "\34";
    position: relative;
    right: 0;

}

/**************************************************/